*   {
    box-sizing: border-box;
    
  }

body { 
  margin: 0;
  font-size: 15px;
  /*background-color: #FFDB8B;*/
  background-image: url('vincent-burkhead-LhlxYMfnTF0-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  /*background: linear-gradient(to right,#164a41 , #4d774e, #9dc88d);*/
  }

/* sticky/fixed navbar */
#navbar {
    overflow: hidden;
    background: transparent;
    padding: 50px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    box-shadow: none;    
  }

/* Style the navbar links */
#navbar a {
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
  }

/* Style the title */
  #navbar #title {
    
    font-size: 2.25rem;
    /*font-weight: bold;*/
    color: black;
    transition: 0.3s;
  }

/* Links on mouse-over */
#navbar a:hover {
    background-color: #f1b24a;
    color: black;
  }

  /* Style the active/current link */
/*#navbar a.active {
    background-color: dodgerblue;
    color: white;
  }*/

  /* Display some links to the right */
#navbar-right {
    float: right;
  }
 
  @media screen and (max-width: 655px) {
    #navbar #title {
      font-size: 1rem;
    }
  }

  /* responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
    #navbar {
      padding: 20px 10px !important; /* !important to make sure that JavaScript doesn't override the padding on small screens */
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    
    #navbar-right {
      float: none;
    }
  }

  .section {
    display: flex;
    width: 60%;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: 200px auto 50px auto;
    font-size: 1.10rem;
    /*box-shadow: 0 0 5px #585858;*/
  }

  @media screen and (max-width: 580px) {
    .section {
      margin-top: 55%;
      font-size: .85rem;
    }
  }

.container {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    width:60%;
    height: 330px;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    box-shadow: 0 0 8px #585858;
    border-radius: 8px;
  }

.questionbox {
    
    width: 100%;
    height: 20%;
    text-align: center;
    /*border: 1px solid blue;*/
}
.answerbox {
    width: 100%;
    height: 25%;
    text-align: center;
    font-size: 1.25rem;
    /*border: 1px solid black;*/
}
.referencebox {
  width: 100%;
  height: 25%;
  text-align: center;
  padding-top: 30px;
  /*font-size: .88rem;*/
  /*border: 1px solid red;*/
}
.referencebox a {
  color: black;
  text-decoration: none;
  font-size: .88rem;
}

.referencebox a:hover {
  color:  #f1b24a;
}

@media screen and (max-width: 580px) {
  .questionbox {
    font-size: 13px;
  }
  
  .answerbox {
    font-size: 1rem;  
  }
}


