html {
    scroll-behavior: smooth;
}
main {
    
    font-size: 20px;
    background-color: #A2C2C0;
}

header {
    display: flex;
    border: 1px solid blue;
    margin: 0 auto;
}

#title {
    text-align: center;
    color:#333;
    font-size: 1.25rem;
}

.container {
    display: flex;
    background-color: #F5F6F8;
    width:50%;
    height: 330px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0 0 5px #585858;
    border-radius: 5px;
}

.box {
    padding: 5%;
    
}

